* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* font-family and color added to reduce repetition */
body {
  background-color: #d9dcd6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
}

/* added 'header' qualifiers for all header items */
header.heading {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
}

header.heading h1 {
  display: inline-block;
  font-size: 48px;
}

header.heading h1 .seo {
  color: #d9dcd6;
}

/* font-family moved to body */
header.heading nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

header.heading nav ul {
  list-style-type: none;
}

header.heading nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* added hover pseudo-class for style */
a:hover {
  color: #d9dcd6;
}

p {
  font-size: 16px;
}

/* replaced background image with img tag in html for accessibility */
img.hero {
  height: 800px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 21px;
}

img.float-left {
  float: left;
  margin-right: 25px;
}

img.float-right {
  float: right;
  margin-left: 25px;
}

/* moved the main content above the aside */
main.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* consolidated all article formatting */
main.content article {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  background-color: #0072bb;
}

/* consolidated img and h2 styling */
main.content img {
  max-height: 200px;
}

main.content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* removed font-family */
aside.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  background-color: #2589bd;
}

/* removed color, now under body & consolidated all aside margin-bottom, removed unnecessary class */
aside.benefits article {
  margin-bottom: 32px;
}

/* consolidated all h3 */
aside.benefits h3 {
  margin-bottom: 10px;
  text-align: center;
}

aside.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

footer.foot {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer.foot h2 {
  font-size: 20px;
}
